# **Computational Methods**
## **Introduction to Data Sets**

Written by Niv Keren, nivkeren1@mail.tau.ac.il 

Based on [10 minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#min),
from pandas documentation.

*Computational Methods* class: 0341-2300

2020/Semester I; Tuesdays 14:00-16:00

FACULTY OF EXACT SCIENCES | GEOPHYSICS & PLANETARY SCIENCES  
Tel Aviv University

---

## **Pandas**
Pandas is a library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.[(from wikipedia)](https://en.wikipedia.org/wiki/Pandas_(software)

* DataFrame object for data manipulation with integrated indexing.
* Tools for reading and writing data between in-memory data structures and different file formats.
* Data alignment and integrated handling of missing data.
* Reshaping and pivoting of data sets.
* Label-based slicing, fancy indexing, and subsetting of large data sets.
* Data structure column insertion and deletion.
* Group by engine allowing split-apply-combine operations on data sets.
* Data set merging and joining.
* Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
* Time series-functionality: Date range generation[4] and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging.
* Provides data filtration.  
[**Pandas Documantation**](https://pandas.pydata.org/pandas-docs/stable/)

In [ ]:
import numpy as np
import pandas as pd

### **Seires**
Creating a **Series** by passing a `list` of values, letting pandas create a default integer index:

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

s

### **DataFrame**
Creating a **DataFrame** by passing a `NumPy array`, with a datetime index and labeled columns:

In [ ]:
dates = pd.date_range('20130101', periods=6)

dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

df2

In [ ]:
df2.columns

In [ ]:
df2.dtypes

### **Viewing Data**

In [ ]:
df.head()

In [ ]:
df.tail(3)

**`DataFrame.to_numpy()`** gives a NumPy representation of the underlying data.  
Note that this can be an expensive operation when your DataFrame has columns with different data types, which comes down to a fundamental difference between pandas and NumPy: **NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column.** When you call `DataFrame.to_numpy()`, pandas will find the NumPy dtype that can hold *all* of the dtypes in the DataFrame. This may end up being object, which requires casting every value to a Python object.

In [ ]:
df.to_numpy()

In [ ]:
df2.to_numpy()

**Note:** `DataFrame.to_numpy()`does *not* include the index or column labels in the output.

**`describe()`** shows a quick statistic summary of your data:

In [ ]:
df.describe()

Transposing your data:

In [ ]:
df.T

### **Selection**

Selecting a single column, which yields a Series

In [ ]:
df['A']

In [ ]:
df.A

Selecting via `[]`, which slices the rows.

In [ ]:
df[0:4]

In [ ]:
df['20130102':'20130104']

**Selection by label**  
For getting a cross section using a label:

In [ ]:
df.loc[dates[0]]

Selecting on a multi-axis by label:

In [ ]:
df.loc['20130102':'20130104', ['A', 'B']]

Getting a scalar value:

In [ ]:
df.loc[dates[0], 'A']

**Selection by position**  
Select via the position of the passed integers:

In [ ]:
df.iloc[3]

By integer slices, acting similar to numpy/python:

In [ ]:
df.iloc[3:5, 0:2]

For slicing columns explicitly:

In [ ]:
df.iloc[:, 1:3]

In [ ]:
df.iloc[1, 1]

**Boolean indexing**  
Using a single column’s values to select data.

In [ ]:
df[df.A > 0]

Selecting values from a DataFrame where a boolean condition is met.

In [ ]:
df[df > 0]

Using the **`isin()`** method for filtering:

In [ ]:
df_copy = df.copy()
df_copy['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df_copy

In [ ]:
df_copy[df_copy['E'].isin(['two', 'four'])]

### **Setting**
Setting a new column automatically aligns the data by the indexes.

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
s1

In [ ]:
df['F'] = s1

Setting values by label:

In [ ]:
df.loc[dates[0], 'A'] = 0

Setting values by position:

In [ ]:
df.iloc[0, 1] = 0

Setting by assigning with a NumPy array:

In [ ]:
df.loc[:, 'D'] = np.array([5] * len(df))

In [ ]:
df

In [ ]:
df_copy = df.copy()
df_copy[df_copy < 0] = -df_copy # abselute value
df_copy

## **Operations**
### **Stats**
Operations in general exclude missing data.

In [ ]:
df.mean()

In [ ]:
df.mean(axis=1)

More statiscal methods are:  
**`max()`**,  **`median()`**,  **`var()`**,  **`cov()`** ...
### **Histogramming**

In [ ]:
s = pd.Series(np.random.randint(0, 5, size=10))
s

In [ ]:
s.value_counts()

## **Merge**
### **Concat**
Merges pandas objects along a particular axis with optional set logic along the other axes.

In [ ]:
df = pd.DataFrame(np.random.randn(3, 4))
df

In [ ]:
df1 = pd.DataFrame(np.random.randn(3, 4))
df1

In [ ]:
concat_df = pd.concat([df, df1])
concat_df

In [ ]:
concat_df = concat_df.reset_index()
concat_df

### **Join**
Merges by index, possibly different columns

In [ ]:
left = pd.DataFrame({'lkey': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'rkey': ['bar', 'foo'], 'rval': [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
left.join(right)

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['bar', 'foo'], 'rval': [4, 5]})

In [ ]:
left.merge(right, on='key')

---
## **Data Sets or Datasets**
A collection of data.  
Few examples:
* **Tabular data -**  data set corresponds to one or more database tables, where every column of a table represents a particular variable, and each row corresponds to a given record of the data set in question.
* **Images data -** collection of images. Can be aloso represented in a table
* **Time-stamped data -**  Dataset which has a concept of time ordering defining the sequence that each data point was either captured (event time) or collected (processed time).
* **Spatial Data -** Some objects have spatial attributes, such as positions or areas, as well as other types of attributes.

### **Tabular Data**
Two very common formats to save tabular data are:
1. **CSV files -** *comma separated values*. Delimited text file that uses a comma to separate values. A CSV file stores tabular data (numbers and text) in plain text. Each line of the file is a data record. Each record consists of one or more fields, separated by commas.
2. **JSON files -** *JavaScript Object Notation*. Is an open-standard file format that uses human-readable text to transmit data objects consisting of attribute–value pairs and array data types

##### **CSV Example:**  
Forest Fires in Brazil  
Number of forest fires reported in Brazil by State [from kaggle](https://www.kaggle.com/gustavomodelli/forest-fires-in-brazil)


"year","state","month","number","date"  
1998,"Acre","Janeiro",0,1998-01-01  
1999,"Acre","Janeiro",0,1999-01-01  
2000,"Acre","Janeiro",0,2000-01-01  
2001,"Acre","Janeiro",0,2001-01-01  
2002,"Acre","Janeiro",0,2002-01-01  
2003,"Acre","Janeiro",10,2003-01-01  
2004,"Acre","Janeiro",0,2004-01-01

An easy way to read CSV files with pandas **`pd.read_csv()`** command

In [ ]:
df_amazon = pd.read_csv('files/amazon1.csv', encoding="windows-1252")

In [ ]:
df_amazon.head()

In [ ]:
len(df_amazon)

**JSON Example:**  
Greenhouse gas emissions in the Netherlands  
Emissions from economic activity according to IPCC guidelines [(from kaggle)](https://www.kaggle.com/janheindejong/greenhouse-gas-emissions-in-the-netherlands/data)

[{ "ID": 0,  
   "Bronnen": "T001176  ",  
   "Perioden": "1990JJ00",  
   "CO2_1": "163120",  
   "CH4_2": " 1278.17",  
   "N2O_3": "   59.49"  
 },  
 { "ID": 1,  
   "Bronnen": "T001176  ",  
   "Perioden": "1995JJ00",  
   "CO2_1": "  173520",  
   "CH4_2": " 1192.41",  
   "N2O_3": "   59.84"  
 },  
 { "ID": 2,  
   "Bronnen": "T001176  ",  
   "Perioden": "2000JJ00",  
   "CO2_1": "  172290",  
   "CH4_2": "  975.64",  
   "N2O_3": "   53.01"  
 }  
]

In [ ]:
import json
json_file_path = "files/IPCC_emissions.json"

In [ ]:
with open(json_file_path, 'r') as file:
    IPCC_emmisions = json.load(file)

In [ ]:
IPCC_emmisions

In [ ]:
len(IPCC_emmisions)