# **Computational Methods**
## **Introduction to Data Sets**

Written by Niv Keren, nivkeren1@mail.tau.ac.il 

Based on [Python Numpy Tutorial](https://cs231n.github.io/python-numpy-tutorial/)  by Justin Johnson,
from Stanford CS231n class.

*Computational Methods* class: 0341-2300

2020/Semester I; Tuesdays 14:00-16:00

FACULTY OF EXACT SCIENCES | GEOPHYSICS & PLANETARY SCIENCES  
Tel Aviv University

---

## **Pandas**
Pandas is a library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.[(from wikipedia)](https://en.wikipedia.org/wiki/Pandas_(software)

* DataFrame object for data manipulation with integrated indexing.
* Tools for reading and writing data between in-memory data structures and different file formats.
* Data alignment and integrated handling of missing data.
* Reshaping and pivoting of data sets.
* Label-based slicing, fancy indexing, and subsetting of large data sets.
* Data structure column insertion and deletion.
* Group by engine allowing split-apply-combine operations on data sets.
* Data set merging and joining.
* Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
* Time series-functionality: Date range generation[4] and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging.
* Provides data filtration.  
[**Pandas Documantation**](https://pandas.pydata.org/pandas-docs/stable/)

In [63]:
import numpy as np
import pandas as pd

### **Seires**
Creating a **Series** by passing a `list` of values, letting pandas create a default integer index:

In [64]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### **DataFrame**
Creating a **DataFrame** by passing a `NumPy array`, with a datetime index and labeled columns:

In [65]:
dates = pd.date_range('20130101', periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [66]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.127415 -0.381578 -0.378245  1.411338
2013-01-02  2.365536 -0.432591 -0.178182  0.792020
2013-01-03  0.373301  0.631485  0.854472 -0.819015
2013-01-04 -0.823661 -0.874600  0.819099 -0.360536
2013-01-05  0.589507 -1.120037 -0.208070 -1.367557
2013-01-06 -0.023855 -0.527679  1.271884  0.436319

In [67]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [68]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [69]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### **Viewing Data**

In [70]:
df.head()

                   A         B         C         D
2013-01-01 -1.127415 -0.381578 -0.378245  1.411338
2013-01-02  2.365536 -0.432591 -0.178182  0.792020
2013-01-03  0.373301  0.631485  0.854472 -0.819015
2013-01-04 -0.823661 -0.874600  0.819099 -0.360536
2013-01-05  0.589507 -1.120037 -0.208070 -1.367557

In [71]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.823661 -0.874600  0.819099 -0.360536
2013-01-05  0.589507 -1.120037 -0.208070 -1.367557
2013-01-06 -0.023855 -0.527679  1.271884  0.436319

**`DataFrame.to_numpy()`** gives a NumPy representation of the underlying data.  
Note that this can be an expensive operation when your DataFrame has columns with different data types, which comes down to a fundamental difference between pandas and NumPy: **NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column.** When you call `DataFrame.to_numpy()`, pandas will find the NumPy dtype that can hold *all* of the dtypes in the DataFrame. This may end up being object, which requires casting every value to a Python object.

In [72]:
df.to_numpy()

array([[-1.12741506, -0.3815785 , -0.37824527,  1.41133759],
       [ 2.36553637, -0.43259133, -0.1781821 ,  0.79201996],
       [ 0.37330145,  0.63148454,  0.85447169, -0.81901531],
       [-0.82366052, -0.87460029,  0.81909901, -0.36053589],
       [ 0.58950711, -1.12003659, -0.20806984, -1.36755748],
       [-0.02385482, -0.52767922,  1.27188369,  0.43631895]])

In [73]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

**Note:** `DataFrame.to_numpy()`does *not* include the index or column labels in the output.

**`describe()`** shows a quick statistic summary of your data:

In [74]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.225569 -0.450834  0.363493  0.015428
std    1.243173  0.601641  0.699154  1.046814
min   -1.127415 -1.120037 -0.378245 -1.367557
25%   -0.623709 -0.787870 -0.200598 -0.704395
50%    0.174723 -0.480135  0.320458  0.037892
75%    0.535456 -0.394332  0.845629  0.703095
max    2.365536  0.631485  1.271884  1.411338

Transposing your data:

In [75]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.127415    2.365536    0.373301   -0.823661    0.589507   -0.023855
B   -0.381578   -0.432591    0.631485   -0.874600   -1.120037   -0.527679
C   -0.378245   -0.178182    0.854472    0.819099   -0.208070    1.271884
D    1.411338    0.792020   -0.819015   -0.360536   -1.367557    0.436319

### **Selection**

Selecting a single column, which yields a Series

In [76]:
df['A']

2013-01-01   -1.127415
2013-01-02    2.365536
2013-01-03    0.373301
2013-01-04   -0.823661
2013-01-05    0.589507
2013-01-06   -0.023855
Freq: D, Name: A, dtype: float64

In [77]:
df.A

2013-01-01   -1.127415
2013-01-02    2.365536
2013-01-03    0.373301
2013-01-04   -0.823661
2013-01-05    0.589507
2013-01-06   -0.023855
Freq: D, Name: A, dtype: float64

Selecting via `[]`, which slices the rows.

In [78]:
df[0:4]

                   A         B         C         D
2013-01-01 -1.127415 -0.381578 -0.378245  1.411338
2013-01-02  2.365536 -0.432591 -0.178182  0.792020
2013-01-03  0.373301  0.631485  0.854472 -0.819015
2013-01-04 -0.823661 -0.874600  0.819099 -0.360536

In [79]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  2.365536 -0.432591 -0.178182  0.792020
2013-01-03  0.373301  0.631485  0.854472 -0.819015
2013-01-04 -0.823661 -0.874600  0.819099 -0.360536

**Selection by label**  
For getting a cross section using a label:

In [80]:
df.loc[dates[0]]

A   -1.127415
B   -0.381578
C   -0.378245
D    1.411338
Name: 2013-01-01 00:00:00, dtype: float64

Selecting on a multi-axis by label:

In [81]:
df.loc['20130102':'20130104', ['A', 'B']]

                   A         B
2013-01-02  2.365536 -0.432591
2013-01-03  0.373301  0.631485
2013-01-04 -0.823661 -0.874600

Getting a scalar value:

In [82]:
df.loc[dates[0], 'A']

-1.127415057262261

**Selection by position**  
Select via the position of the passed integers:

In [83]:
df.iloc[3]

A   -0.823661
B   -0.874600
C    0.819099
D   -0.360536
Name: 2013-01-04 00:00:00, dtype: float64

By integer slices, acting similar to numpy/python:

In [84]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -0.823661 -0.874600
2013-01-05  0.589507 -1.120037

For slicing columns explicitly:

In [85]:
df.iloc[:, 1:3]

                   B         C
2013-01-01 -0.381578 -0.378245
2013-01-02 -0.432591 -0.178182
2013-01-03  0.631485  0.854472
2013-01-04 -0.874600  0.819099
2013-01-05 -1.120037 -0.208070
2013-01-06 -0.527679  1.271884

In [86]:
df.iloc[1, 1]

-0.4325913265624429

**Boolean indexing**  
Using a single columnâ€™s values to select data.

In [87]:
df[df.A > 0]

                   A         B         C         D
2013-01-02  2.365536 -0.432591 -0.178182  0.792020
2013-01-03  0.373301  0.631485  0.854472 -0.819015
2013-01-05  0.589507 -1.120037 -0.208070 -1.367557

Selecting values from a DataFrame where a boolean condition is met.

In [88]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN       NaN       NaN  1.411338
2013-01-02  2.365536       NaN       NaN  0.792020
2013-01-03  0.373301  0.631485  0.854472       NaN
2013-01-04       NaN       NaN  0.819099       NaN
2013-01-05  0.589507       NaN       NaN       NaN
2013-01-06       NaN       NaN  1.271884  0.436319

Using the **`isin()`** method for filtering:

In [89]:
df_copy = df.copy()
df_copy['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df_copy

                   A         B         C         D      E
2013-01-01 -1.127415 -0.381578 -0.378245  1.411338    one
2013-01-02  2.365536 -0.432591 -0.178182  0.792020    one
2013-01-03  0.373301  0.631485  0.854472 -0.819015    two
2013-01-04 -0.823661 -0.874600  0.819099 -0.360536  three
2013-01-05  0.589507 -1.120037 -0.208070 -1.367557   four
2013-01-06 -0.023855 -0.527679  1.271884  0.436319  three

In [90]:
df_copy[df_copy['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2013-01-03  0.373301  0.631485  0.854472 -0.819015   two
2013-01-05  0.589507 -1.120037 -0.208070 -1.367557  four

### **Setting**
Setting a new column automatically aligns the data by the indexes.

In [91]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [92]:
df['F'] = s1

Setting values by label:

In [93]:
df.loc[dates[0], 'A'] = 0

Setting values by position:

In [94]:
df.iloc[0, 1] = 0

Setting by assigning with a NumPy array:

In [95]:
df.loc[:, 'D'] = np.array([5] * len(df))

In [96]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.378245  5  NaN
2013-01-02  2.365536 -0.432591 -0.178182  5  1.0
2013-01-03  0.373301  0.631485  0.854472  5  2.0
2013-01-04 -0.823661 -0.874600  0.819099  5  3.0
2013-01-05  0.589507 -1.120037 -0.208070  5  4.0
2013-01-06 -0.023855 -0.527679  1.271884  5  5.0

In [97]:
df_copy = df.copy()
df_copy[df_copy < 0] = -df_copy # abselute value
df_copy

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.378245  5  NaN
2013-01-02  2.365536  0.432591  0.178182  5  1.0
2013-01-03  0.373301  0.631485  0.854472  5  2.0
2013-01-04  0.823661  0.874600  0.819099  5  3.0
2013-01-05  0.589507  1.120037  0.208070  5  4.0
2013-01-06  0.023855  0.527679  1.271884  5  5.0

## **Operations**
### **Stats**
Operations in general exclude missing data.

In [98]:
df.mean()

A    0.413472
B   -0.387237
C    0.363493
D    5.000000
F    3.000000
dtype: float64

In [99]:
df.mean(axis=1)

2013-01-01    1.155439
2013-01-02    1.550953
2013-01-03    1.771852
2013-01-04    1.424168
2013-01-05    1.652280
2013-01-06    2.144070
Freq: D, dtype: float64

More statiscal methods are:  
**`max()`**,  **`median()`**,  **`var()`**,  **`cov()`** ...
### **Histogramming**

In [105]:
s = pd.Series(np.random.randint(0, 5, size=10))
s

0    4
1    3
2    2
3    0
4    1
5    3
6    2
7    4
8    2
9    1
dtype: int32

In [106]:
s.value_counts()

2    3
4    2
3    2
1    2
0    1
dtype: int64

## **Merge**
### **Concat**
Merges pandas objects along a particular axis with optional set logic along the other axes.

In [107]:
df = pd.DataFrame(np.random.randn(3, 4))
df

          0         1         2         3
0  0.157533  1.036239 -0.892096  2.229252
1  0.458116 -1.131439  1.518480  0.456084
2  0.125829  1.102141  1.650731  1.289030

In [108]:
df1 = pd.DataFrame(np.random.randn(3, 4))
df1

          0         1         2         3
0  0.918047 -0.623592 -1.136977 -0.750821
1  1.755173 -0.272242 -1.025121 -0.533073
2 -0.852676  1.097720  0.233271 -0.174595

In [110]:
concat_df = pd.concat([df, df1])
concat_df

          0         1         2         3
0  0.157533  1.036239 -0.892096  2.229252
1  0.458116 -1.131439  1.518480  0.456084
2  0.125829  1.102141  1.650731  1.289030
0  0.918047 -0.623592 -1.136977 -0.750821
1  1.755173 -0.272242 -1.025121 -0.533073
2 -0.852676  1.097720  0.233271 -0.174595

In [113]:
concat_df = concat_df.reset_index()
concat_df

   index         0         1         2         3
0      0  0.157533  1.036239 -0.892096  2.229252
1      1  0.458116 -1.131439  1.518480  0.456084
2      2  0.125829  1.102141  1.650731  1.289030
3      0  0.918047 -0.623592 -1.136977 -0.750821
4      1  1.755173 -0.272242 -1.025121 -0.533073
5      2 -0.852676  1.097720  0.233271 -0.174595

### **Join**
Merges by index, possibly different columns

In [165]:
left = pd.DataFrame({'lkey': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'rkey': ['bar', 'foo'], 'rval': [4, 5]})

In [159]:
left

  lkey  lval
0  foo     1
1  bar     2

In [160]:
right

  rkey  rval
0  bar     4
1  foo     5

In [161]:
left.join(right)

  lkey  lval rkey  rval
0  foo     1  bar     4
1  bar     2  foo     5

In [162]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['bar', 'foo'], 'rval': [4, 5]})

In [171]:
# left.merge(right, on='key')
left.merge(right, how='inner', left_on='lkey', right_on='rkey')

  lkey  lval rkey  rval
0  foo     1  foo     5
1  bar     2  bar     4

---
## **Data Sets or Datasets**
A collection of data.  
Few examples:
* **Tabular data -**  data set corresponds to one or more database tables, where every column of a table represents a particular variable, and each row corresponds to a given record of the data set in question.
* **Images data -** collection of images. Can be aloso represented in a table
* **Time-stamped data -**  Dataset which has a concept of time ordering defining the sequence that each data point was either captured (event time) or collected (processed time).
* **Spatial Data -** Some objects have spatial attributes, such as positions or areas, as well as other types of attributes.

### **Tabular Data**
Two very common formats to save tabular data are:
1. **CSV files -** *comma separated values*. Delimited text file that uses a comma to separate values. A CSV file stores tabular data (numbers and text) in plain text. Each line of the file is a data record. Each record consists of one or more fields, separated by commas.
2. **JSON files -** *JavaScript Object Notation*. Is an open-standard file format that uses human-readable text to transmit data objects consisting of attributeâ€“value pairs and array data types

##### **CSV Example:**  
Forest Fires in Brazil  
Number of forest fires reported in Brazil by State [from kaggle](https://www.kaggle.com/gustavomodelli/forest-fires-in-brazil)


"year","state","month","number","date"  
1998,"Acre","Janeiro",0,1998-01-01  
1999,"Acre","Janeiro",0,1999-01-01  
2000,"Acre","Janeiro",0,2000-01-01  
2001,"Acre","Janeiro",0,2001-01-01  
2002,"Acre","Janeiro",0,2002-01-01  
2003,"Acre","Janeiro",10,2003-01-01  
2004,"Acre","Janeiro",0,2004-01-01

An easy way to read CSV files with pandas **`pd.read_csv()`** command

In [174]:
df_amazon = pd.read_csv('files/amazon1.csv', encoding="windows-1252")

In [177]:
df_amazon.head()

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  01/01/1998
1  1999  Acre  Janeiro     0.0  01/01/1999
2  2000  Acre  Janeiro     0.0  01/01/2000
3  2001  Acre  Janeiro     0.0  01/01/2001
4  2002  Acre  Janeiro     0.0  01/01/2002

In [178]:
len(df_amazon)

6454

**JSON Example:**  
Greenhouse gas emissions in the Netherlands  
Emissions from economic activity according to IPCC guidelines [(from kaggle)](https://www.kaggle.com/janheindejong/greenhouse-gas-emissions-in-the-netherlands/data)

[{ "ID": 0,  
   "Bronnen": "T001176  ",  
   "Perioden": "1990JJ00",  
   "CO2_1": "163120",  
   "CH4_2": " 1278.17",  
   "N2O_3": "   59.49"  
 },  
 { "ID": 1,  
   "Bronnen": "T001176  ",  
   "Perioden": "1995JJ00",  
   "CO2_1": "  173520",  
   "CH4_2": " 1192.41",  
   "N2O_3": "   59.84"  
 },  
 { "ID": 2,  
   "Bronnen": "T001176  ",  
   "Perioden": "2000JJ00",  
   "CO2_1": "  172290",  
   "CH4_2": "  975.64",  
   "N2O_3": "   53.01"  
 }  
]

In [41]:
import json
json_file_path = "files/IPCC_emissions.json"

In [42]:
with open(json_file_path, 'r') as file:
    IPCC_emmisions = json.load(file)

In [43]:
IPCC_emmisions

[{'ID': 0,
  'Bronnen': 'T001176  ',
  'Perioden': '1990JJ00',
  'CO2_1': '  163120',
  'CH4_2': ' 1278.17',
  'N2O_3': '   59.49'},
 {'ID': 1,
  'Bronnen': 'T001176  ',
  'Perioden': '1995JJ00',
  'CO2_1': '  173520',
  'CH4_2': ' 1192.41',
  'N2O_3': '   59.84'},
 {'ID': 2,
  'Bronnen': 'T001176  ',
  'Perioden': '2000JJ00',
  'CO2_1': '  172290',
  'CH4_2': '  975.64',
  'N2O_3': '   53.01'},
 {'ID': 3,
  'Bronnen': 'T001176  ',
  'Perioden': '2001JJ00',
  'CO2_1': '  177390',
  'CH4_2': '  949.16',
  'N2O_3': '   49.71'},
 {'ID': 4,
  'Bronnen': 'T001176  ',
  'Perioden': '2002JJ00',
  'CO2_1': '  176670',
  'CH4_2': '  904.27',
  'N2O_3': '   47.01'},
 {'ID': 5,
  'Bronnen': 'T001176  ',
  'Perioden': '2003JJ00',
  'CO2_1': '  180090',
  'CH4_2': '  874.05',
  'N2O_3': '   46.59'},
 {'ID': 6,
  'Bronnen': 'T001176  ',
  'Perioden': '2004JJ00',
  'CO2_1': '  181710',
  'CH4_2': '  856.72',
  'N2O_3': '   48.08'},
 {'ID': 7,
  'Bronnen': 'T001176  ',
  'Perioden': '2005JJ00',
  'CO2_1': '  177800',
  'CH4_2': '  800.50',
  'N2O_3': '   47.76'},
 {'ID': 8,
  'Bronnen': 'T001176  ',
  'Perioden': '2006JJ00',
  'CO2_1': '  173000',
  'CH4_2': '  783.83',
  'N2O_3': '   47.58'},
 {'ID': 9,
  'Bronnen': 'T001176  ',
  'Perioden': '2007JJ00',
  'CO2_1': '  172860',
  'CH4_2': '  786.81',
  'N2O_3': '   42.03'},
 {'ID': 10,
  'Bronnen': 'T001176  ',
  'Perioden': '2008JJ00',
  'CO2_1': '  175770',
  'CH4_2': '  795.75',
  'N2O_3': '   29.36'},
 {'ID': 11,
  'Bronnen': 'T001176  ',
  'Perioden': '2009JJ00',
  'CO2_1': '  170410',
  'CH4_2': '  785.77',
  'N2O_3': '   28.66'},
 {'ID': 12,
  'Bronnen': 'T001176  ',
  'Perioden': '2010JJ00',
  'CO2_1': '  182440',
  'CH4_2': '  783.90',
  'N2O_3': '   27.67'},
 {'ID': 13,
  'Bronnen': 'T001176  ',
  'Perioden': '2011JJ00',
  'CO2_1': '  169370',
  'CH4_2': '  761.25',
  'N2O_3': '   27.04'},
 {'ID': 14,
  'Bronnen': 'T001176  ',
  'Perioden': '2012JJ00',
  'CO2_1': '  166130',
  'CH4_2': '  746.01',
  'N2O_3': '   26.43'},
 {'ID': 15,
  'Bronnen': 'T001176  ',
  'Perioden': '2013JJ00',
  'CO2_1': '  166020',
  'CH4_2': '  745.28',
  'N2O_3': '   27.11'},
 {'ID': 16,
  'Bronnen': 'T001176  ',
  'Perioden': '2014JJ00',
  'CO2_1': '  158870',
  'CH4_2': '  729.39',
  'N2O_3': '   27.50'},
 {'ID': 17,
  'Bronnen': 'T001176  ',
  'Perioden': '2015JJ00',
  'CO2_1': '  166870',
  'CH4_2': '  737.37',
  'N2O_3': '   28.42'},
 {'ID': 18,
  'Bronnen': 'T001176  ',
  'Perioden': '2016JJ00',
  'CO2_1': '  167040',
  'CH4_2': '  743.46',
  'N2O_3': '   27.57'},
 {'ID': 19,
  'Bronnen': 'T001176  ',
  'Perioden': '2017JJ00',
  'CO2_1': '  165190',
  'CH4_2': '  718.96',
  'N2O_3': '   29.04'},
 {'ID': 20,
  'Bronnen': 'A025447  ',
  'Perioden': '1990JJ00',
  'CO2_1': '  131190',
  'CH4_2': ' 1269.98',
  'N2O_3': '   59.07'},
 {'ID': 21,
  'Bronnen': 'A025447  ',
  'Perioden': '1995JJ00',
  'CO2_1': '  138660',
  'CH4_2': ' 1186.59',
  'N2O_3': '   58.91'},
 {'ID': 22,
  'Bronnen': 'A025447  ',
  'Perioden': '2000JJ00',
  'CO2_1': '  134830',
  'CH4_2': '  971.47',
  'N2O_3': '   51.99'},
 {'ID': 23,
  'Bronnen': 'A025447  ',
  'Perioden': '2001JJ00',
  'CO2_1': '  139660',
  'CH4_2': '  945.11',
  'N2O_3': '   48.70'},
 {'ID': 24,
  'Bronnen': 'A025447  ',
  'Perioden': '2002JJ00',
  'CO2_1': '  138540',
  'CH4_2': '  900.33',
  'N2O_3': '   46.00'},
 {'ID': 25,
  'Bronnen': 'A025447  ',
  'Perioden': '2003JJ00',
  'CO2_1': '  141610',
  'CH4_2': '  870.25',
  'N2O_3': '   45.61'},
 {'ID': 26,
  'Bronnen': 'A025447  ',
  'Perioden': '2004JJ00',
  'CO2_1': '  142780',
  'CH4_2': '  853.16',
  'N2O_3': '   47.12'},
 {'ID': 27,
  'Bronnen': 'A025447  ',
  'Perioden': '2005JJ00',
  'CO2_1': '  138570',
  'CH4_2': '  797.04',
  'N2O_3': '   46.84'},
 {'ID': 28,
  'Bronnen': 'A025447  ',
  'Perioden': '2006JJ00',
  'CO2_1': '  132970',
  'CH4_2': '  780.41',
  'N2O_3': '   46.67'},
 {'ID': 29,
  'Bronnen': 'A025447  ',
  'Perioden': '2007JJ00',
  'CO2_1': '  133910',
  'CH4_2': '  783.41',
  'N2O_3': '   41.10'},
 {'ID': 30,
  'Bronnen': 'A025447  ',
  'Perioden': '2008JJ00',
  'CO2_1': '  136580',
  'CH4_2': '  792.38',
  'N2O_3': '   28.41'},
 {'ID': 31,
  'Bronnen': 'A025447  ',
  'Perioden': '2009JJ00',
  'CO2_1': '  132840',
  'CH4_2': '  782.55',
  'N2O_3': '   27.73'},
 {'ID': 32,
  'Bronnen': 'A025447  ',
  'Perioden': '2010JJ00',
  'CO2_1': '  144120',
  'CH4_2': '  780.80',
  'N2O_3': '   26.72'},
 {'ID': 33,
  'Bronnen': 'A025447  ',
  'Perioden': '2011JJ00',
  'CO2_1': '  131170',
  'CH4_2': '  758.21',
  'N2O_3': '   26.08'},
 {'ID': 34,
  'Bronnen': 'A025447  ',
  'Perioden': '2012JJ00',
  'CO2_1': '  129800',
  'CH4_2': '  743.17',
  'N2O_3': '   25.50'},
 {'ID': 35,
  'Bronnen': 'A025447  ',
  'Perioden': '2013JJ00',
  'CO2_1': '  130480',
  'CH4_2': '  742.53',
  'N2O_3': '   26.17'},
 {'ID': 36,
  'Bronnen': 'A025447  ',
  'Perioden': '2014JJ00',
  'CO2_1': '  125480',
  'CH4_2': '  726.78',
  'N2O_3': '   26.62'},
 {'ID': 37,
  'Bronnen': 'A025447  ',
  'Perioden': '2015JJ00',
  'CO2_1': '  132980',
  'CH4_2': '  734.75',
  'N2O_3': '   27.53'},
 {'ID': 38,
  'Bronnen': 'A025447  ',
  'Perioden': '2016JJ00',
  'CO2_1': '  132980',
  'CH4_2': '  740.88',
  'N2O_3': '   26.69'},
 {'ID': 39,
  'Bronnen': 'A025447  ',
  'Perioden': '2017JJ00',
  'CO2_1': '  130590',
  'CH4_2': '  716.38',
  'N2O_3': '   28.13'},
 {'ID': 40,
  'Bronnen': '800044   ',
  'Perioden': '1990JJ00',
  'CO2_1': '   52810',
  'CH4_2': '   80.02',
  'N2O_3': '    0.42'},
 {'ID': 41,
  'Bronnen': '800044   ',
  'Perioden': '1995JJ00',
  'CO2_1': '   61240',
  'CH4_2': '   80.16',
  'N2O_3': '    0.46'},
 {'ID': 42,
  'Bronnen': '800044   ',
  'Perioden': '2000JJ00',
  'CO2_1': '   62590',
  'CH4_2': '   41.16',
  'N2O_3': '    0.42'},
 {'ID': 43,
  'Bronnen': '800044   ',
  'Perioden': '2001JJ00',
  'CO2_1': '   66500',
  'CH4_2': '   40.87',
  'N2O_3': '    0.46'},
 {'ID': 44,
  'Bronnen': '800044   ',
  'Perioden': '2002JJ00',
  'CO2_1': '   66570',
  'CH4_2': '   39.41',
  'N2O_3': '    0.48'},
 {'ID': 45,
  'Bronnen': '800044   ',
  'Perioden': '2003JJ00',
  'CO2_1': '   67760',
  'CH4_2': '   38.84',
  'N2O_3': '    0.48'},
 {'ID': 46,
  'Bronnen': '800044   ',
  'Perioden': '2004JJ00',
  'CO2_1': '   68970',
  'CH4_2': '   37.29',
  'N2O_3': '    0.49'},
 {'ID': 47,
  'Bronnen': '800044   ',
  'Perioden': '2005JJ00',
  'CO2_1': '   66400',
  'CH4_2': '   40.07',
  'N2O_3': '    0.54'},
 {'ID': 48,
  'Bronnen': '800044   ',
  'Perioden': '2006JJ00',
  'CO2_1': '   61280',
  'CH4_2': '   36.27',
  'N2O_3': '    0.50'},
 {'ID': 49,
  'Bronnen': '800044   ',
  'Perioden': '2007JJ00',
  'CO2_1': '   63930',
  'CH4_2': '   38.74',
  'N2O_3': '    0.52'},
 {'ID': 50,
  'Bronnen': '800044   ',
  'Perioden': '2008JJ00',
  'CO2_1': '   63530',
  'CH4_2': '   40.35',
  'N2O_3': '    0.49'},
 {'ID': 51,
  'Bronnen': '800044   ',
  'Perioden': '2009JJ00',
  'CO2_1': '   62410',
  'CH4_2': '   35.37',
  'N2O_3': '    0.50'},
 {'ID': 52,
  'Bronnen': '800044   ',
  'Perioden': '2010JJ00',
  'CO2_1': '   64470',
  'CH4_2': '   38.54',
  'N2O_3': '    0.51'},
 {'ID': 53,
  'Bronnen': '800044   ',
  'Perioden': '2011JJ00',
  'CO2_1': '   60400',
  'CH4_2': '   38.88',
  'N2O_3': '    0.48'},
 {'ID': 54,
  'Bronnen': '800044   ',
  'Perioden': '2012JJ00',
  'CO2_1': '   57230',
  'CH4_2': '   36.33',
  'N2O_3': '    0.51'},
 {'ID': 55,
  'Bronnen': '800044   ',
  'Perioden': '2013JJ00',
  'CO2_1': '   57200',
  'CH4_2': '   32.75',
  'N2O_3': '    0.49'},
 {'ID': 56,
  'Bronnen': '800044   ',
  'Perioden': '2014JJ00',
  'CO2_1': '   61220',
  'CH4_2': '   31.68',
  'N2O_3': '    0.52'},
 {'ID': 57,
  'Bronnen': '800044   ',
  'Perioden': '2015JJ00',
  'CO2_1': '   66080',
  'CH4_2': '   30.07',
  'N2O_3': '    0.62'},
 {'ID': 58,
  'Bronnen': '800044   ',
  'Perioden': '2016JJ00',
  'CO2_1': '   64190',
  'CH4_2': '   28.31',
  'N2O_3': '    0.59'},
 {'ID': 59,
  'Bronnen': '800044   ',
  'Perioden': '2017JJ00',
  'CO2_1': '   60180',
  'CH4_2': '   26.16',
  'N2O_3': '    0.52'},
 {'ID': 60,
  'Bronnen': '305800   ',
  'Perioden': '1990JJ00',
  'CO2_1': '    1960',
  'CH4_2': '   60.51',
  'N2O_3': '    0.00'},
 {'ID': 61,
  'Bronnen': '305800   ',
  'Perioden': '1995JJ00',
  'CO2_1': '    1730',
  'CH4_2': '   60.56',
  'N2O_3': '    0.00'},
 {'ID': 62,
  'Bronnen': '305800   ',
  'Perioden': '2000JJ00',
  'CO2_1': '    1770',
  'CH4_2': '   21.85',
  'N2O_3': '    0.00'},
 {'ID': 63,
  'Bronnen': '305800   ',
  'Perioden': '2001JJ00',
  'CO2_1': '    1770',
  'CH4_2': '   21.34',
  'N2O_3': '    0.00'},
 {'ID': 64,
  'Bronnen': '305800   ',
  'Perioden': '2002JJ00',
  'CO2_1': '    1840',
  'CH4_2': '   18.07',
  'N2O_3': '    0.00'},
 {'ID': 65,
  'Bronnen': '305800   ',
  'Perioden': '2003JJ00',
  'CO2_1': '    1710',
  'CH4_2': '   17.65',
  'N2O_3': '    0.00'},
 {'ID': 66,
  'Bronnen': '305800   ',
  'Perioden': '2004JJ00',
  'CO2_1': '    1710',
  'CH4_2': '   15.45',
  'N2O_3': '    0.00'},
 {'ID': 67,
  'Bronnen': '305800   ',
  'Perioden': '2005JJ00',
  'CO2_1': '    1790',
  'CH4_2': '   17.56',
  'N2O_3': '    0.00'},
 {'ID': 68,
  'Bronnen': '305800   ',
  'Perioden': '2006JJ00',
  'CO2_1': '    1710',
  'CH4_2': '   14.63',
  'N2O_3': '    0.00'},
 {'ID': 69,
  'Bronnen': '305800   ',
  'Perioden': '2007JJ00',
  'CO2_1': '    1690',
  'CH4_2': '   17.30',
  'N2O_3': '    0.03'},
 {'ID': 70,
  'Bronnen': '305800   ',
  'Perioden': '2008JJ00',
  'CO2_1': '    1700',
  'CH4_2': '   19.05',
  'N2O_3': '    0.03'},
 {'ID': 71,
  'Bronnen': '305800   ',
  'Perioden': '2009JJ00',
  'CO2_1': '    1760',
  'CH4_2': '   13.25',
  'N2O_3': '    0.02'},
 {'ID': 72,
  'Bronnen': '305800   ',
  'Perioden': '2010JJ00',
  'CO2_1': '    1840',
  'CH4_2': '   16.00',
  'N2O_3': '    0.03'},
 {'ID': 73,
  'Bronnen': '305800   ',
  'Perioden': '2011JJ00',
  'CO2_1': '    1860',
  'CH4_2': '   15.83',
  'N2O_3': '    0.03'},
 {'ID': 74,
  'Bronnen': '305800   ',
  'Perioden': '2012JJ00',
  'CO2_1': '    1970',
  'CH4_2': '   15.40',
  'N2O_3': '    0.03'},
 {'ID': 75,
  'Bronnen': '305800   ',
  'Perioden': '2013JJ00',
  'CO2_1': '    1990',
  'CH4_2': '   13.55',
  'N2O_3': '    0.03'},
 {'ID': 76,
  'Bronnen': '305800   ',
  'Perioden': '2014JJ00',
  'CO2_1': '    2040',
  'CH4_2': '   13.99',
  'N2O_3': '    0.03'},
 {'ID': 77,
  'Bronnen': '305800   ',
  'Perioden': '2015JJ00',
  'CO2_1': '    1850',
  'CH4_2': '   13.75',
  'N2O_3': '    0.03'},
 {'ID': 78,
  'Bronnen': '305800   ',
  'Perioden': '2016JJ00',
  'CO2_1': '    1650',
  'CH4_2': '   12.26',
  'N2O_3': '    0.03'},
 {'ID': 79,
  'Bronnen': '305800   ',
  'Perioden': '2017JJ00',
  'CO2_1': '    1650',
  'CH4_2': '   12.26',
  'N2O_3': '    0.03'},
 {'ID': 80,
  'Bronnen': '320300   ',
  'Perioden': '1990JJ00',
  'CO2_1': '   11040',
  'CH4_2': '    1.13',
  'N2O_3': '    0.05'},
 {'ID': 81,
  'Bronnen': '320300   ',
  'Perioden': '1995JJ00',
  'CO2_1': '   11620',
  'CH4_2': '    1.03',
  'N2O_3': '    0.05'},
 {'ID': 82,
  'Bronnen': '320300   ',
  'Perioden': '2000JJ00',
  'CO2_1': '   12400',
  'CH4_2': '    0.90',
  'N2O_3': '    0.04'},
 {'ID': 83,
  'Bronnen': '320300   ',
  'Perioden': '2001JJ00',
  'CO2_1': '   12730',
  'CH4_2': '    0.86',
  'N2O_3': '    0.04'},
 {'ID': 84,
  'Bronnen': '320300   ',
  'Perioden': '2002JJ00',
  'CO2_1': '   11720',
  'CH4_2': '    0.87',
  'N2O_3': '    0.03'},
 {'ID': 85,
  'Bronnen': '320300   ',
  'Perioden': '2003JJ00',
  'CO2_1': '   12270',
  'CH4_2': '    0.89',
  'N2O_3': '    0.04'},
 {'ID': 86,
  'Bronnen': '320300   ',
  'Perioden': '2004JJ00',
  'CO2_1': '   12220',
  'CH4_2': '    0.94',
  'N2O_3': '    0.04'},
 {'ID': 87,
  'Bronnen': '320300   ',
  'Perioden': '2005JJ00',
  'CO2_1': '   12380',
  'CH4_2': '    0.87',
  'N2O_3': '    0.04'},
 {'ID': 88,
  'Bronnen': '320300   ',
  'Perioden': '2006JJ00',
  'CO2_1': '   11590',
  'CH4_2': '    0.84',
  'N2O_3': '    0.04'},
 {'ID': 89,
  'Bronnen': '320300   ',
  'Perioden': '2007JJ00',
  'CO2_1': '   11610',
  'CH4_2': '    0.95',
  'N2O_3': '    0.04'},
 {'ID': 90,
  'Bronnen': '320300   ',
  'Perioden': '2008JJ00',
  'CO2_1': '   11820',
  'CH4_2': '    0.84',
  'N2O_3': '    0.04'},
 {'ID': 91,
  'Bronnen': '320300   ',
  'Perioden': '2009JJ00',
  'CO2_1': '   10770',
  'CH4_2': '    1.26',
  'N2O_3': '    0.03'},
 {'ID': 92,
  'Bronnen': '320300   ',
  'Perioden': '2010JJ00',
  'CO2_1': '   10630',
  'CH4_2': '    1.03',
  'N2O_3': '    0.02'},
 {'ID': 93,
  'Bronnen': '320300   ',
  'Perioden': '2011JJ00',
  'CO2_1': '   10810',
  'CH4_2': '    1.48',
  'N2O_3': '    0.03'},
 {'ID': 94,
  'Bronnen': '320300   ',
  'Perioden': '2012JJ00',
  'CO2_1': '   10510',
  'CH4_2': '    1.31',
  'N2O_3': '    0.03'},
 {'ID': 95,
  'Bronnen': '320300   ',
  'Perioden': '2013JJ00',
  'CO2_1': '   10290',
  'CH4_2': '    0.86',
  'N2O_3': '    0.03'},
 {'ID': 96,
  'Bronnen': '320300   ',
  'Perioden': '2014JJ00',
  'CO2_1': '   10660',
  'CH4_2': '    0.87',
  'N2O_3': '    0.03'},
 {'ID': 97,
  'Bronnen': '320300   ',
  'Perioden': '2015JJ00',
  'CO2_1': '   11040',
  'CH4_2': '    0.89',
  'N2O_3': '    0.03'},
 {'ID': 98,
  'Bronnen': '320300   ',
  'Perioden': '2016JJ00',
  'CO2_1': '   10590',
  'CH4_2': '    0.91',
  'N2O_3': '    0.03'},
 {'ID': 99,
  'Bronnen': '320300   ',
  'Perioden': '2017JJ00',
  'CO2_1': '   10030',
  'CH4_2': '    0.92',
  'N2O_3': '    0.03'},
 {'ID': 100,
  'Bronnen': '346700   ',
  'Perioden': '1990JJ00',
  'CO2_1': '   39810',
  'CH4_2': '   18.37',
  'N2O_3': '    0.38'},
 {'ID': 101,
  'Bronnen': '346700   ',
  'Perioden': '1995JJ00',
  'CO2_1': '   47890',
  'CH4_2': '   18.57',
  'N2O_3': '    0.41'},
 {'ID': 102,
  'Bronnen': '346700   ',
  'Perioden': '2000JJ00',
  'CO2_1': '   48430',
  'CH4_2': '   18.41',
  'N2O_3': '    0.38'},
 {'ID': 103,
  'Bronnen': '346700   ',
  'Perioden': '2001JJ00',
  'CO2_1': '   51990',
  'CH4_2': '   18.66',
  'N2O_3': '    0.42'},
 {'ID': 104,
  'Bronnen': '346700   ',
  'Perioden': '2002JJ00',
  'CO2_1': '   53010',
  'CH4_2': '   20.46',
  'N2O_3': '    0.44'},
 {'ID': 105,
  'Bronnen': '346700   ',
  'Perioden': '2003JJ00',
  'CO2_1': '   53780',
  'CH4_2': '   20.30',
  'N2O_3': '    0.44'},
 {'ID': 106,
  'Bronnen': '346700   ',
  'Perioden': '2004JJ00',
  'CO2_1': '   55040',
  'CH4_2': '   20.90',
  'N2O_3': '    0.45'},
 {'ID': 107,
  'Bronnen': '346700   ',
  'Perioden': '2005JJ00',
  'CO2_1': '   52230',
  'CH4_2': '   21.63',
  'N2O_3': '    0.50'},
 {'ID': 108,
  'Bronnen': '346700   ',
  'Perioden': '2006JJ00',
  'CO2_1': '   47980',
  'CH4_2': '   20.81',
  'N2O_3': '    0.46'},
 {'ID': 109,
  'Bronnen': '346700   ',
  'Perioden': '2007JJ00',
  'CO2_1': '   50630',
  'CH4_2': '   20.48',
  'N2O_3': '    0.45'},
 {'ID': 110,
  'Bronnen': '346700   ',
  'Perioden': '2008JJ00',
  'CO2_1': '   50000',
  'CH4_2': '   20.46',
  'N2O_3': '    0.43'},
 {'ID': 111,
  'Bronnen': '346700   ',
  'Perioden': '2009JJ00',
  'CO2_1': '   49880',
  'CH4_2': '   20.86',
  'N2O_3': '    0.45'},
 {'ID': 112,
  'Bronnen': '346700   ',
  'Perioden': '2010JJ00',
  'CO2_1': '   52000',
  'CH4_2': '   21.51',
  'N2O_3': '    0.46'},
 {'ID': 113,
  'Bronnen': '346700   ',
  'Perioden': '2011JJ00',
  'CO2_1': '   47730',
  'CH4_2': '   21.57',
  'N2O_3': '    0.43'},
 {'ID': 114,
  'Bronnen': '346700   ',
  'Perioden': '2012JJ00',
  'CO2_1': '   44760',
  'CH4_2': '   19.61',
  'N2O_3': '    0.46'},
 {'ID': 115,
  'Bronnen': '346700   ',
  'Perioden': '2013JJ00',
  'CO2_1': '   44920',
  'CH4_2': '   18.34',
  'N2O_3': '    0.43'},
 {'ID': 116,
  'Bronnen': '346700   ',
  'Perioden': '2014JJ00',
  'CO2_1': '   48510',
  'CH4_2': '   16.82',
  'N2O_3': '    0.46'},
 {'ID': 117,
  'Bronnen': '346700   ',
  'Perioden': '2015JJ00',
  'CO2_1': '   53190',
  'CH4_2': '   15.43',
  'N2O_3': '    0.56'},
 {'ID': 118,
  'Bronnen': '346700   ',
  'Perioden': '2016JJ00',
  'CO2_1': '   51950',
  'CH4_2': '   15.14',
  'N2O_3': '    0.52'},
 {'ID': 119,
  'Bronnen': '346700   ',
  'Perioden': '2017JJ00',
  'CO2_1': '   48490',
  'CH4_2': '   12.98',
  'N2O_3': '    0.45'},
 {'ID': 120,
  'Bronnen': '800045   ',
  'Perioden': '1990JJ00',
  'CO2_1': '   40930',
  'CH4_2': '   18.42',
  'N2O_3': '   23.01'},
 {'ID': 121,
  'Bronnen': '800045   ',
  'Perioden': '1995JJ00',
  'CO2_1': '   35950',
  'CH4_2': '   18.53',
  'N2O_3': '   22.94'},
 {'ID': 122,
  'Bronnen': '800045   ',
  'Perioden': '2000JJ00',
  'CO2_1': '   34150',
  'CH4_2': '   19.28',
  'N2O_3': '   22.13'},
 {'ID': 123,
  'Bronnen': '800045   ',
  'Perioden': '2001JJ00',
  'CO2_1': '   33560',
  'CH4_2': '   19.10',
  'N2O_3': '   20.10'},
 {'ID': 124,
  'Bronnen': '800045   ',
  'Perioden': '2002JJ00',
  'CO2_1': '   33890',
  'CH4_2': '   20.68',
  'N2O_3': '   19.22'},
 {'ID': 125,
  'Bronnen': '800045   ',
  'Perioden': '2003JJ00',
  'CO2_1': '   34450',
  'CH4_2': '   21.49',
  'N2O_3': '   19.39'},
 {'ID': 126,
  'Bronnen': '800045   ',
  'Perioden': '2004JJ00',
  'CO2_1': '   34210',
  'CH4_2': '   19.49',
  'N2O_3': '   21.29'},
 {'ID': 127,
  'Bronnen': '800045   ',
  'Perioden': '2005JJ00',
  'CO2_1': '   33940',
  'CH4_2': '   21.43',
  'N2O_3': '   21.41'},
 {'ID': 128,
  'Bronnen': '800045   ',
  'Perioden': '2006JJ00',
  'CO2_1': '   33940',
  'CH4_2': '   20.86',
  'N2O_3': '   21.25'},
 {'ID': 129,
  'Bronnen': '800045   ',
  'Perioden': '2007JJ00',
  'CO2_1': '   34740',
  'CH4_2': '   21.51',
  'N2O_3': '   16.87'},
 {'ID': 130,
  'Bronnen': '800045   ',
  'Perioden': '2008JJ00',
  'CO2_1': '   34010',
  'CH4_2': '   20.03',
  'N2O_3': '    4.67'},
 {'ID': 131,
  'Bronnen': '800045   ',
  'Perioden': '2009JJ00',
  'CO2_1': '   31090',
  'CH4_2': '   18.67',
  'N2O_3': '    4.85'},
 {'ID': 132,
  'Bronnen': '800045   ',
  'Perioden': '2010JJ00',
  'CO2_1': '   34280',
  'CH4_2': '   20.42',
  'N2O_3': '    3.92'},
 {'ID': 133,
  'Bronnen': '800045   ',
  'Perioden': '2011JJ00',
  'CO2_1': '   33650',
  'CH4_2': '   19.37',
  'N2O_3': '    4.00'},
 {'ID': 134,
  'Bronnen': '800045   ',
  'Perioden': '2012JJ00',
  'CO2_1': '   33230',
  'CH4_2': '   19.97',
  'N2O_3': '    3.96'},
 {'ID': 135,
  'Bronnen': '800045   ',
  'Perioden': '2013JJ00',
  'CO2_1': '   32720',
  'CH4_2': '   18.88',
  'N2O_3': '    4.03'},
 {'ID': 136,
  'Bronnen': '800045   ',
  'Perioden': '2014JJ00',
  'CO2_1': '   31900',
  'CH4_2': '   19.24',
  'N2O_3': '    4.23'},
 {'ID': 137,
  'Bronnen': '800045   ',
  'Perioden': '2015JJ00',
  'CO2_1': '   32550',
  'CH4_2': '   18.92',
  'N2O_3': '    4.38'},
 {'ID': 138,
  'Bronnen': '800045   ',
  'Perioden': '2016JJ00',
  'CO2_1': '   33530',
  'CH4_2': '   20.14',
  'N2O_3': '    3.55'},
 {'ID': 139,
  'Bronnen': '800045   ',
  'Perioden': '2017JJ00',
  'CO2_1': '   35450',
  'CH4_2': '   20.46',
  'N2O_3': '    5.11'},
 {'ID': 140,
  'Bronnen': '320705   ',
  'Perioden': '1990JJ00',
  'CO2_1': '   22080',
  'CH4_2': '   16.67',
  'N2O_3': '   22.95'},
 {'ID': 141,
  'Bronnen': '320705   ',
  'Perioden': '1995JJ00',
  'CO2_1': '   17230',
  'CH4_2': '   16.46',
  'N2O_3': '   22.89'},
 {'ID': 142,
  'Bronnen': '320705   ',
  'Perioden': '2000JJ00',
  'CO2_1': '   16470',
  'CH4_2': '   16.89',
  'N2O_3': '   22.08'},
 {'ID': 143,
  'Bronnen': '320705   ',
  'Perioden': '2001JJ00',
  'CO2_1': '   15760',
  'CH4_2': '   16.82',
  'N2O_3': '   20.05'},
 {'ID': 144,
  'Bronnen': '320705   ',
  'Perioden': '2002JJ00',
  'CO2_1': '   16120',
  'CH4_2': '   18.52',
  'N2O_3': '   19.16'},
 {'ID': 145,
  'Bronnen': '320705   ',
  'Perioden': '2003JJ00',
  'CO2_1': '   16640',
  'CH4_2': '   19.31',
  'N2O_3': '   19.33'},
 {'ID': 146,
  'Bronnen': '320705   ',
  'Perioden': '2004JJ00',
  'CO2_1': '   16520',
  'CH4_2': '   17.38',
  'N2O_3': '   21.23'},
 {'ID': 147,
  'Bronnen': '320705   ',
  'Perioden': '2005JJ00',
  'CO2_1': '   16270',
  'CH4_2': '   19.30',
  'N2O_3': '   21.35'},
 {'ID': 148,
  'Bronnen': '320705   ',
  'Perioden': '2006JJ00',
  'CO2_1': '   16880',
  'CH4_2': '   18.78',

In [44]:
len(IPCC_emmisions)

520